html, body {
    padding: 0px;
    margin: 0px;
    cursor: none;
}

#mainBody {
    width: 1600px;
    height: 900px;
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    background-color: #7aa9fc;
    border: 1px solid black;
}

#mansionImage {
    position: absolute;
    top: 0px;
    z-index: 1;
}

.diamondOre {
    position: absolute;
    bottom: 150px;
    left: 100px;
    z-index: 2;
}

.diamondCounter {
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 3;
}

.diamondCounter img {
    width: 50%;
    height: 50%;
}
.diamondCounter p {
    position: absolute;
    margin: 0px;
    top: 10px;
    left: 80px;
    font-size: 60px;
}

.martin {
    position: absolute;
    left: 300px;
    transform-origin: bottom;
}

.pickaxe {
    pointer-events: none;
    width: 0px;
    height: 0px;
    position: fixed;
    background-color: green;
    z-index: 4;
}

.upgradePanel {
    position: absolute;
    right: 10px;
    width: 350px;
    height: 800px;
    background-color: red;
    z-index: 3;
}

.pickaxeUpgrades {
    position: relative;
    top: 10px;
    left: 10px;
    width: 330px;
    height: 70px;
    background-color: green;

    display: flex;
    flex-direction: ltr;
    justify-content: left;
}

.pickaxeItem {
    margin: 3px;
    width: 60px;
    height: 60px;
    background-color: yellow;
}

.pickaxeItem img {
    width: 60px;
    height: 60px;
}